html {
  font-family: 'Roboto', sans-serif;
  display: block;
  font-size: 16px;
  color: #696969;
}

body {
  display: block;
  margin: 0;
}

div {
  display: block;
}

.container {
  display: flex;
  align-items: center;
}

/* header */
header {
  display: flex;
  background-color: white;
  height: 4rem;
  position: fixed;
  z-index: 1;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}

header nav {
  padding-right: 1.5em;
}

nav {
  display: block;
}

.logo {
  align-items: center;
  display: flex;
  padding-left: 1.5em;
  flex-grow: 1;
}

.logo img {
  height: 2.75em;
  color: black;
}

.logo .colmar {
  font-size: 1.5em;
  font-weight: 700;
}

.logo .academy {
  color: #c0c0c0;
  font-size: 1.5em;
}

.desktop ul, li {
  display: inline-block;
  padding: 0.5em;
  color: #696969;
}

/* banner */

.banner {
  background-color: #c0c0c0;
  padding-top: 4em;
}

.banner .container {
  display: flex;
  text-align: left;
}

.banner .left-column {
  width: 60%;
  padding: 2em 1.5em;
}

.left-column .banner-image {
  width: 100%
}

.banner .right-column {
  font-size: 1.35em;
  width: 40%;
  padding: 2em 2em 3em 1.5em;
}

.button span {
  background-color: #696969;
  color: white;
  padding: .5em 8em;
  flex: 1 2;
}

/* Information */

.information .container {
  display: flex;
}

.info-left {
  padding: 2em 1.5em;
  width: 60%;
}

.left-column .male-student {
  width: 100%;
}

.information .right-column {
  width: 40%;
  padding-left: 1em;
}

.image-content img {
  width: 35%;
  padding: 1em 1em;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.image-info {
  width: 65%;
  display: inline-block;
  vertical-align: middle;
}
