html {
  font-family: 'Roboto', sans-serif;
  display: block;
  font-size: 16px;
  color: #696969;
}

body {
  display: block;
  margin: 0;
}

div {
  display: block;
}

.container {
  display: flex;
  align-items: center;
}

img {
  overflow: hidden;
  width: 100%;
}

h1 {
  font-size: 2.9rem;
  font-weight: 600;
  line-height: 3rem;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
}

h3 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
}

p {
  font-size: 0.889rem;
  font-weight: 450;
  line-height: 1.5rem;
}

#courses h2,
#thesis h2 {
  padding-top: 2rem;
  text-align: center;
}

/* header */
header {
  display: flex;
  background-color: white;
  height: 4rem;
  position: fixed;
  z-index: 1;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}

header nav {
  padding-right: 1.5em;
}

nav {
  display: block;
}

.logo {
  align-items: center;
  display: flex;
  padding-left: 1.5em;
  flex-grow: 1;
}

.logo img {
  height: 2.75em;
  color: black;
  width: auto;
}

.logo .colmar {
  font-size: 1.5em;
  font-weight: 700;
}

.logo .academy {
  color: #c0c0c0;
  font-size: 1.5em;
}

.desktop ul, li {
  display: inline-block;
  padding: 0.5em;
  color: #696969;
}

/* banner */

.banner {
  background-color: #c0c0c0;
  padding-top: 4em;
}

.banner h1 {
  margin-bottom: 1em;
}

.banner .container {
  display: flex;
  text-align: left;
}

.banner .left-column {
  min-width: 60%;
  padding: 2em 1.5em;
}

.left-column .banner-image {
  width: 100%
}

.banner .right-column {
  font-size: 1.35em;
  width: 40%;
  padding: 2em 2em 3em 1.5em;
}

.button span {
  color: white;
}
.button {
  margin-top: 2em;
  background-color: #696969;
  padding: .5em;
  width: 80%;
  text-align: center;
}

/* Information */

#information .container {
  display: flex;
  align-items: normal;
}

#information h3 {
  font-weight: bold;
}


#information .info-left {
  padding: 2em 1.5em 0 1.5em;
  max-width: 60%;
}

#information .image-content:hover {
  background-color: lightgrey;
}

.left-column .male-student {
  width: 100%;
  padding-bottom: 2em;
}

.info-main-content p {
  padding-top: 1.5em
}

.info-main-content h6 {
  padding: 1.5em 0 0 0;
  font-weight: 550;
}

#information .right-column {
  width: 40%;
  border-left: 1px solid lightgrey;
  padding-top: 2em;
}

.right-column .image-content {
  display: flex;
  height: auto;
  width: auto;
  padding: 1em 1em;
  border-top: 1px solid lightgrey;
  flex-direction: row;
}
.right-column .image {
  width: 35%;
}

.right-column .image-info {
  width: 65%;
  line-height: 0.5em;
  padding-left: 1em;
  align-self: center;
}
.right-column .read-more {
  color: blue;
}

.right-column .read-more:hover {
  color: grey;
  text-decoration: underline;
}

#courses .container {
  display: flex;
  flex-wrap: wrap;
}

#courses .image {
  display: flex;
  flex-direction: column;
}

.image-info {
  display: flex;
  flex-direction: column;
}
